header{
    background-color: wheat;
}

main{
    background-color: wheat;
}

section{
    background-color: wheat;
}

footer{
    background-color: wheat;
}

.img{
    width: 50%;
    background-color: wheat;
}

h1{
    background-color: wheat;
}